.grid article h1 a {
    text-transform: uppercase !important;
    letter-spacing: .2em;
    font-size: 32px;
    line-height: 1.2em;
    text-transform: uppercase;
    word-wrap:normal;
}

body a {text-transform: none;}

.grid article a {word-wrap: normal;
text-transform: uppercase;
font-family: 'Montserrat', Arial    , sans-serif;
color: #333;
   text-align: center;
    padding-bottom: solid 2px ;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: bold;
}

.grid article a:hover {
color: #333;
border-bottom: solid 2px       #60b9ee;
 
}

strong {
    font-weight: 400;
}

h2 {font-size: 18px;
    font-family: 'playfair display',     'Montserrat', Arial, sans-serif;
    font-weight: 400 ;
    line-height: 26px;
}

.grid article.logo h2 a {color:          #60b9ee;
font-size: 18px;
    font-family: 'playfair display',     'Montserrat', Arial, sans-serif;
    text-transform: none;
    letter-spacing: normal;
    font-weight: norma;
    
}

.grid article.logo-square img {
    border-bottom: solid 2px #fff;
    opacity: 1.0;
}

.grid article.logo h2 {
    font-weight: normal;
}

body {
    background: #fff;
    font-family: 'playfair display',     'Montserrat', Arial, sans-serif;
    color: #333;
}

.post-content p {text-align: center;
}

.post-content p b {color: #333 !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat', Arial    , sans-serif;
    text-align: center;
    padding-bottom: solid 2px ;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.4em;
}

.post-content p b a {color: #333;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial    , sans-serif;
    text-align: center;
    padding-bottom: solid 2px ;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.4em;
}

.post-content b:active {color:          #60b9ee;
    text-transform: uppercase;
    border-bottom: solid 2px #fff;
    text-align: center;
    font-family: 'Montserrat', Arial    , sans-serif;
    letter-spacing: 3px;
}

a:hover {border-bottom: solid 2px       #60b9ee;
    color: #60b9ee;
}

.post-content a:hover {color:           #60b9ee;
    border-bottom: solid 2px;
    text-align: center;
}



p a {text-transform: none;}

.menu-icon {display: none;}

    .grid article.logo h1 a:hover, .grid article.logo h2
   
    {border: 0px;}

.grid article h1 {border: 0px ;}

.grid article .actions .date a:hover {
    color: #bbbdbf;
  border-bottom: solid 1px;
  transition: all .3s ease;
}



.grid article .actions .date a {
 color: #bbbdbf;
  border-bottom: solid 0px;
  font-family: 'playfair display', 'Montserrat', Arial, sans-serif;
  text-transform: none;
  transition: all .3s ease;
}

.grid article .actions a:hover {
    color: #60b9ee;
    border-bottom: 0px;
    transition: all .3s ease;
}

.grid article .actions a {
    color: #bbbdbf;
    opacity:1.0;
}

a.reblogbutton {
    border: solid 0px;
    opacity: 1.0;
    color: #bbbdbf;
}

a:hover.reblogbutton #like a:active.reblogbutton {
    color:#bbbdbf;
    letter-spacing: normal;
}

.actions {
        background-color: #333;
        color: #bbbbdf;
    }
   
.actions a:active {
     color: #bbbdbf;
    letter-spacing:normal;
    } 

hr {
    display: block;
    border: 0;
    border-top: 1px solid #333;
    margin: 1em 0;
    padding: 0;
}

#weblink:hover {
    border-bottom: solid 2px #60b9ee;}
    
 .grid article .like-wrap {
    position: relative;
    text-align: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    opacity: 1.0;
    cursor: default;
}

 .grid article .icon-love {
    color: #bbbdbf;
    cursor: default;
}

a#like.show.liked {
    color: #60b9ee;
    cursor: default;
}

#like:hover {color:#60b9ee;
}

.grid article a.share_button {
    font-size: 20px;
    margin-left: 0;
    opacity: 1.0;
    color: #bbbdbf;
}

.bottom-nav a {
    line-height: 50px;
    margin: 5px 0;
}

.bottom-nav a:hover {
  border: 0px;
  opacity: 1;
}
    

   